* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #6A6f4C;
    --secundaria: #cdb89d;
    --claro: #ede1d2;
    --natural: #806044;
}

body {
    background-color:  #0d1117;
    color: #c9d1d9;
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(139, 148, 158, 0.1);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 4rem;  
}


.menu-link {
    text-decoration: none;
    color: #c9d1d9;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}
.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #c9d1d9);
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.foto-jeniffer {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(205, 184, 157, 0.3);
    border-radius: 50%;
    border: 4px solid #c9d1d9;
    animation: flutuar 5s ease-in-out;
}

h1 {
    font-size: 3.5rem;
    color: #c9d1d9;
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: #c9d1d9;
}

.sobre{
    padding: 6rem 2rem;
}


.sobre-titulo {
    font-size: 3rem;
    color: #c9d1d9;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid #c9d1d9;
    backdrop-filter: blur(10px);
    background: rgba(205, 184, 157, 0.1) ;
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.projetos {
    padding: 8rem 2rem;
}



.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* quando adc projeto aumentar o px */
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}



.projetos-card {
    background:rgba(205, 184, 157, 0.1) ;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid #c9d1d9;
    overflow: hidden;  /* esconder o que sobra da imagem */
    transition: all 0.5s ease;   
    cursor: pointer;                                 
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(205, 184, 157, 0.3); 
    transform: translateY(-10px) scale(1.03);
}


.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.info-projetos {
    margin-bottom: 5px;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}


.paragrafo-projetos {
    color:  #c9d1d9;
    line-height: 1.25rem;
}


.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background:rgba(205, 184, 157, 0.1) ;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid  #8b949e;
    border-radius: 16px;
}



.campo-form {
    width: 100%;
    padding: 1rem;
    background: var(--claro);
    color: black;
    border: 1px solid  #8b949e;
    border-radius: 8px;
    outline: none;
}

.campo-form:focus {
    border-color:  #8b949e;
    box-shadow: 0 0 10px  #8b949e;

}


.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color:  white;
    background: linear-gradient(40deg,   #0d1117);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(139, 148, 158, 0.3); 
}

@keyframes flutuar {
    20%, 100% {
        transform: translateY(2);
    }

    50% {
        transform: translateY(-20px);
    }

}

.menu-mobile{
    display: none;
}

.botao-abrir-menu {
    display: none;
}


/* estilo mobile */


@media screen and (max-width: 1200px) {
    .navegacao {
        display: none;
}

.menu-mobile {
    display: block;
}

.botao-abrir-menu {
    display: none;
}


.foto-jeniffer{
    width: 85%;
}


h1 {
    font-size: 2.5rem;
}


.sobre-titulo {
font-size: 2.5rem;
}


.sobre{
    padding: 1rem 1rem;

}


.sobre-caixa {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 16px;
}


.sobre-paragrafo {
    text-align: center;
    font-size: 1.3rem;
}


.projetos-titulo {
    font-size: 2.5rem;
}


.projetos-caixa {
    grid-template-columns: 1fr;
}

.projetos-imagem{
    width: 100%;
    max-width: 360px;
}

.contatos-titulo {
    font-size: 2.5rem;
}


.formulario-contato {
    padding: 1rem;
    border-radius: 16px;
}


/* estilo menu mobile abaixo*/

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.788);
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

}